<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Vendorcss")
            @Scripts.Render("~/bundles/modernizr")
            <link href="~/Content/foundation-icons/foundation-icons.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
    <link href="~/Content/buttons.css" rel="stylesheet" />
    <link href="~/Content/effects.css" rel="stylesheet" />

    <link href="~/Content/footer.css" rel="stylesheet" />
    <link href="~/Content/foundation.min.css" rel="stylesheet" />
    <link href="~/Content/navs.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/Yd-response.css" rel="stylesheet" />
</head>
<body>
    <div id="workspace">
        <header class="row">
            <div class="large-4 columns nav-container">
                <a href="" id="title">
                    <span>YASOTI DEV</span>
                    <br />
                    <span>Yasoti-Dev développeurs</span>
                </a>

            </div>
            <div class="large-8 columns end">

                <div class="inline-list" style="font-size: 12px;">
                    @Html.Partial("_LoginPartial")
                </div>
                <ul class="inline-list">
                    <li>
                        <a>
                            @Html.ActionLink("Accueil", "Index", "Home")
                        </a>

                    </li>     
                    <li>
                        <a>
                            @Html.ActionLink("Persons", "Index", "Person")
                        </a>

                    </li>   
                    
                    <li>
                        <a>
                            @Html.ActionLink("Employees", "Index", "Employee")
                        </a>

                    </li>

                </ul>
            </div>

        </header>
      
        <div class="container body-content">
            @RenderBody()          
        </div>

        <footer class="row">
            <div class="large-6 columns" id="version">
                <div class="desktop"><a  data-tooltip class="tip-top" title="Compatibilité"><i class="icon fi-monitor left"></i></a><span>Vous consultez la version desktop du site.<br />Tous droits réservés &copy; 2013 <a href="licence.html">Xavier Foucrier</a></span></div>
                <div class="mobile hide"><a  data-tooltip class="tip-top" title="Compatibilité"><i class="icon fi-mobile left"></i></a><span>Vous consultez la version mobile du site.<br />Tous droits réservés &copy; 2013 <a href="licence.html">Xavier Foucrier</a></span></div>
            </div>
            <div class="large-6 columns"></div>
        </footer>
    </div>
    <script src="~/app/appMain.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Vendorjs")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
